.SortPlayers{
  background: #fff;
  width: 500px;
  height: 500px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
}

.SortPlayers-close{
  position: absolute;
  right: 10px;
  top: 10px;
}

.SortPlayers-overlay{
  background-color: rgba(0,0,0,0.5);
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: 10px;
}

.SortPlayers-header{
  border-bottom: 1px #dfdfdf solid;
  padding: 5px;
  margin-bottom: 10px;
}

.SortPlayers-container{
  display: flex;
}

.SortPlayers-player{
  flex: 1 40px;
  height: 50px;
  margin: 5px;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.SortPlayers-player-name{
}
.SortPlayers-player-dice{
  font-size: 25px;
  margin-top: 5px;
}

.SortPlayers-winner {
  height: 60px;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.SortPlayers-winner-name {
  font-size: 30px;
}
