.MatchType {
  text-align: center;
  color: #dfdfdf;
  width: 300px;
  margin: 0 auto;
}

.MatchType > div {
  background-color: rgba(255,255,255,0.5);
  margin: 10px;
  padding: 5px;
  color: #000;
  font-weight: bold;
  min-height: 40px;
  font-size: 20px;
  text-align: ;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
