.MatchType {
  text-align: center;
  color: #dfdfdf;
  width: 100%;
  margin: 0 auto;
}

.Format{
  background-color: rgba(255,255,255,0.5);
  margin: 10px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  line-height: 55px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
}

.Format__icon{
  width: 55px;
  margin: 5px 10px;
}

.Format__name{
  margin: 5px;
}
