.Counter{
  height: 70px;
  width: 100%;
  margin: 10px auto;
  font-size: 50px;
  line-height: 70px;
  color: #fff;
  display: flex;
}

.Counter__side{
  flex: 1 0 50px;
  width: 50px;
  height: 70px;
  text-align: center;
  background: rgba(0,0,0,0);
  border: none;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}


.Counter__side svg{
  height: 50px;
  cursor: pointer;
}


.Counter__counter{
  flex: 1 0 110px;
  margin: 0px 5px;
  text-align: center;
  width: 90px;
  padding: 0 10px;
  font-size: 70px;
  display: inline-block;
  user-select: none;
}

.Counter__counter.red{
  color: #ff0000;
}
