.Symbols {
  flex: 1;
  width: 100 %;
  display: flex;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 5px;
}

.Symbol {
  flex: 1;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: 3px;
  font-size: 12px;
  min-width: 15px;
}

.Symbol__image {
  opacity: 0.7;
  width: 90%;
  max-height: 20px;
  max-width: 20px;
}


.Symbols.small  .Symbol__image{
  height: 15px;
}
