.Header{
  width: 100%;
  height: 60px;
  background-color: #dfdfdf;
}

.Header-icon{
  margin: 5px;
  display: inline-block;
}

/* .Header-icon--right{
  float: right;
} */

.Header-icon svg{
  height: 40px;
  padding: 5px 0;
}
