.TeamList {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.TeamList__button {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  border: 0;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.TeamList__button--green {
  background: #017523;
  color: #fff;
}

.TeamList__button--blue {
  background: #012375;
  color: #fff;
}
